<table border="1">
    <tr>
        <td>aaaa</td>
        <td><b>aaaa</b></td>
        <td>aaaa</td>
        <td>aaaa</td>
    </tr>
    <tr>
        <td bgcolor="green">aaaa</td>
        <td>aaaa</td>
        <td rowspan="2">aaaa</td>
        <td>aaaa</td>
    </tr>
    <tr>
        <td>aaaa</td>
        <td>aaaa</td>
        
        <td>aaaa</td>
    </tr>
    <tr>
        <td colspan="2">aaaa</td>
        <td><i>aaaa</i></td>
        <td>aaaa</td>
        
    </tr>
    <tr>
        <td>
            
        </td>
        <td>aaaa</td>
        <td colspan="2"></td>
    </tr>

</table>


<hr>
<br>
<center><h1>Heading 1 text</h1>

<i><u> podkreślenie pochyłe</u></i><br></center>

<b>pogrubienie</b>

<ol>
    <li>kawa</li>
    <li>mleko</li>
    <li>woda</li>
</ol>